.main {
  padding: 65px 140px;
  width: 100%;
  height: auto;
  /* background-image:url("/Wave-1 (4).png"); */
  background-color: rgb(12, 12, 12);
  color: white;

  padding-bottom: 50px;
  background-size: cover;
}
.col1 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}
.colortext {
  color: #8cbc43;
}
.box1 {
  width: 22px;
  height: 22px;
  background-color: #8cbc43;
  position: relative;
  top: -7px;
  left: 22px;
}
.box2 {
  width: 22px;
  height: 22px;
  background-color: black;

  left: 147px;
}
.header {
  font-size: 40px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  padding-bottom: 15px;
}
.deatilsSec {
  display: flex;
  gap: 45px;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}
.deatilsTax {
  width: 100%;
}
.imgLp {
  width: 100%;
  border-radius: 10px;
  border: 1px solid grey;
  animation: fadeInRight 5s ease-in-out;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
  }
}
.video {
  width: 100%;
}

.title {
  font-size: 55px;
  font-weight: 500;
  font-family: "Onest", sans-serif;
  line-height: 60px;
  color: #f9f7ee;
  margin-bottom: 15px;
}
@keyframes cursor {
  0%,
  100% {
    border-color: #212121;
  }
}

@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.para1 {
  font-size: 22px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin-top: 25px;
  color: #01340f;
}
.para2 {
  font-size: 18px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin-top: 10px;
  color: #daeee9;
  line-height: 30px;
}
.aibtn {
  font-size: 20px;
  margin-top: 35px;
  padding: 8px 40px;
  color: rgb(11 11 11);
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  background: #8cbc43;
  /* border: 1px solid white; */
  border-radius: 10px;

  animation: fadeInLeft 5s ease-in-out;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
  }
}

.inner_titlep2 {
  color: #9a9a9a;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
  line-height: 35px;
}
@media only screen and (max-width: 768px) {
  .main {
    padding: 30px 24px;
  }
  .deatilsSec {
    gap: 50px;
    flex-direction: column;
  }
  .box1 {
    width: 15px;
    height: 15px;
  }

  .col1 {
    padding-bottom: 20px;
  }
  .box2 {
    width: 15px;
    height: 15px;
  }
  .header {
    font-size: 27px;
  }
  .title {
    font-size: 25px;
    line-height: 30px;
    margin-top: 30px;
  }
  .para1 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
  }
  .para2 {
    font-size: 14px;
  }
  .aibtn {
    margin-top: 15px;
    padding: 8px 12px;
    font-size: 15px;
  }
  .inner_titlep2 {
    margin-top: 10px;
    font-size: 20px !important;
    color: #999999;
  }
  .video_chat {
    margin-top: -15px;
    border: none;
    width:100%;
  }
  .iframe {
    width: 100%;
    height: 223px;
    border-radius: 20px;
    border: 1px solid #393939;
  }
}
.marquee_container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
}

.marquee_slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  animation: marquee 20s linear infinite;
}

.marquee_slider_box {
  border: 1px solid #2a2a2a;
  padding: 4px 17px;
  background: #2a2a2a;
  border-radius: 5px;
  color: #a7a6a6;
  margin-right: 11px;
  white-space: nowrap;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.iframe {
  border-radius: 20px;
  border: 2px solid #2a2a2a;
}
