.banner{
    width:100%;
    height:367px;
    background-image: url("https://img.freepik.com/free-photo/finance-elements-line_23-2148080979.jpg?t=st=1718283747~exp=1718287347~hmac=a0036f4d767b6a6e197a6ba627673791e355ff711413efcab9d75dd04247eeff&w=996");
    background-repeat: no-repeat;
    background-size: cover;
    top: 199px;
    /* margin-top: -111px; */

}
.text1{
    display: flex;
    gap:10px;
    color:white;
    flex-direction:column;
    padding:10px 140px;
    padding-top:150px;
}
.p1{
    text-align: center;
    font-size:30px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    line-height:1.2;
}
.p2{
    color:grey;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}
.colortext{
    color:#8CBC43;
}
@media only screen and (max-width: 768px){
    .text1{
       
        padding:120px 0px;
    
    }
}