.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 5% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .innerblogssection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .uncoverimg{
    width:70%;
    margin-top:-81px;
    margin-bottom: 45px;

  }
  .planmytaxlogo{
    color: white;
    margin: 0px 140px;
    padding: 20px 0px;
    text-decoration: none;
    
  }
  .linka{
    text-decoration: none;
    color:white;
  }
  .blogsConatine {
    background-color: rgb(
      1,
      1,
      44
    ); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(54, 54, 54), rgb(0 0 0));
    width: 100%;
  }
  .title {
    font-size: 50px;
    color: #fff;
    font-family: "league_spartan";
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 3rem;
  }
  .blogabout {
    display: flex;
    flex-direction: column;
    /* margin: 30px 140px; */
    padding: 30px 200px;
    width: 100%;
    gap: 20px;
    background: rgb(255, 255, 255);
  }
  .bloginnerTitle {
    font-size: 20px;
  color: rgb(0, 0, 0);
    font-family: "league_spartan";
    font-weight: 600;
  }
  .paragraph {
    font-size: 16px;
    font-family: "league_spartan";
    font-weight: 500;
    color: #474747;
    line-height: 1.2;
  }
  .blogTitle {
    font-family: "league_spartan";
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .header_content_blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    color: rgb(255, 255, 255);
    margin: 0px 140px;
  }
  .blodSubheader{
    font-weight: 600;
      color: #898a86;
  }
  .list{
    margin-top: -11px;
      margin-left: 30px;
      color: #524b4b;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.65;
  }
  @media screen and (max-width: 767px) {
    .planmytaxlogo {
      color: white;
      margin: 0px 20px;
      font-size: 20px;
      font-weight: 500;
    }
    .title {
      font-size: 20px;
      color: #fff;
      line-height: 2rem;
      font-weight: 400;
    }
    .blogabout {
      margin:0px;
      padding: 0px 25px;
      padding-bottom:20px;
    }
    .mainContainer {
      padding: 10% 0;
    }
    .bloginnerTitle {
      font-size: 19px;
    }
    .uncoverimg{
        
        margin-top: -27px;
        margin-bottom: 45px;
    }
  }
  
  